@using ProjectIthaca.Models;

@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <form action="/artists" method="post">
    Name: <input name="artist-name" type="text" required>
    Debut: <input name="artist-debut" type="number" required>
    Bio: <input name="artist-bio" required>
    Active: <select name="artist-active">
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>

    Genre: <select name="artist-genre">
                @foreach(var genre in Genre.GetAll())
                {
                <option value="@genre.GetId()">@genre.GetName()</option>
                }
             </select>
    <button class="btn btn-success" type="submit">Submit</button>
  </form>
</div>
