@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <form action="/artists" method="post">
    Name: <input name="artist-name" type="text" required>
    Debut: <input name="artist-debut" type="email" required>
    Description: <input name="artist-description" required>
    Active: <input name="artist-active" required>

    Genre: <select name="artist-genre">
                @foreach(var genre in Model)
                {
                <option value="@genre.GetId()">@genre.GetName()</option>
                }
             </select>
    <button class="btn btn-success" type="submit">Submit</button>
  </form>
</div>
