@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <form action="/clients" method="post">
    Name: <input name="client-name" type="text" required>
    Email: <input name="client-email" type="email" required>
    First Appt: <input name="client-first-appt" type="date" required>

    Stylist: <select name="client-stylist">
                @foreach(var stylist in Model)
                {
                <option value="@stylist.GetId()">@stylist.GetName()</option>
                }
             </select>
    <button class="btn btn-success" type="submit">Submit</button>
  </form>
</div>
