@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <form action="/genres" method="post">
    Name: <input name="genre-name" type="text" required>
    description: <input name="genre-description" type="text" required>
    era: <select>
          <option name="classical">Classical</option>
          <option name="roaring">Roaring 20s</option>
          <option name="British">British Invasion</option>
          <option name="modern">Modern</option>
          <option name="pmodern">Post-Modern</option>
        </select>
    <button class="btn btn-success" type="submit">Add Stylist</button>
  </form>
</div>
