@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <form action="/stylists" method="post">
    Name: <input name="stylist-name" type="text" required>
    Email: <input name="stylist-email" type="email" required>
    Startdate: <input name="stylist-startdate" type="date" required>
    <button class="btn btn-success" type="submit">Add Stylist</button>
  </form>
</div>
