@using HairSalonProject.Models;

@{
  Layout = "_Layout";
  Stylist preferredStylist = Model.GetStylist();
  string clientName = preferredStylist.GetName();
}

<div class="jumbotron">
  <p><a href='/'>Home</a></p>
  <p><text>Name: </text>@Model.GetName()</p>
  <p><text>Email: </text>@Model.GetEmail()</p>
  <p><text>First Appt: </text>@Model.GetFirstAppt()</p>
  <hr>
  <p><text>Preferred Stylist: </text>@clientName</p>
</div>

<!-- <a href='/clients/new'>Add stylist</a> -->


<!-- Model refers to whatever is passed into the View's parameters.
In this case it's return View(client); -->
