@{
  Layout = "_Layout";
}

<!--each new list item is an instance of the Stylist class-->
<div class="jumbotron">
  <p><a href="/">Home</a></p>
  <h1>Clients</h1>
  @foreach (var client in Model)
    {
      <h4 id="client-list"><a href='/clients/@client.GetId()'>@client.GetName()</a></h4>
    }
</div>

<div class="footer">
  <form action="/clients/delete" method="post" id="clear-clients">
    <button class="btn btn-danger" type="submit" name="button">Clear all Clients</button>
  </form>
</div>

<script>
  $(document).ready(function(){
    $("#clear-clients").submit(function(event) {
      var doDelete = confirm("Are you sure you want delete all clients?");
      if (!doDelete) {
        event.preventDefault();
      }
    });
  });
</script>
