@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <p><a id="all-artists" href="/artists">View all artists</a></p>
  <h1>Genres</h1>
    @foreach (var genre in Model)
    {
      <h3 id="genre-list"><a href='/genres/@genre.GetId()'>@genre.GetName()</a></h3>
    }
  <p><a href="/genres/new">Add Genre</a></p>
</div>
<div class="footer">
  <form action="/genres/delete" id="clear-genres" method="post">
    <button class="btn btn-danger" type="submit" name="button">Remove all Genres</button>
  </form>
</div>

<script>
  $(document).ready(function(){
    $("#clear-genres").submit(function(event) {
      var doDelete = confirm("Are you sure you want to remove all genres?");
      if (!doDelete) {
        event.preventDefault();
      }
    });
  });
</script>

<!-- RUN - apm install language-cshtml in terminal to override default plain text -->
