@{
  Layout = "_Layout";
}
<div class="jumbotron">
  <p><a href="/">Home</a></p>
  <p><text>Name: </text>@Model.GetName()</p>
  <p><text>Description: </text>@Model.GetDescription()</p>
  <p><text>Era: </text>@Model.GetGenre()</p>
  <p>Sample Artists:</p>
  <ul>
    @foreach(var artist in Model.GetArtists())
    {
      <li>@artist.GetName()</li>
    }
  </ul>
  <p><a href="/artists/new">Add Client</a></p>
</div>
